<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Movie</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <h1>Add New Movie</h1>
  <button onclick="window.location.href='/admin/dashboard'">Back to Dashboard</button>
</header>

<form th:action="@{/admin/movies}" method="post" enctype="application/x-www-form-urlencoded">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="releaseDate">Release Date:</label>
  <input type="date" id="releaseDate" name="releaseDate" required>

  <label for="rating">Rating:</label>
  <input type="number" id="rating" name="rating" required>

  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre" required>

  <label for="length">Length:</label>
  <input type="number" id="length" name="length" required>

  <label for="ageLimit">Age Limit:</label>
  <input type="text" id="ageLimit" name="ageLimit" required>

  <button type="submit">Add Movie</button>
</form>


<footer>
  <p>&copy; 2024 KinoXP Cinema. Admin Dashboard.</p>
</footer>
</body>
</html>
